.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 440px;
    background-color: #EEECDF;
    border-radius: 10px;
    cursor: pointer;
}

.img-box {
    background-color: white;
    width: 15.6rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 275px;
    object-fit: contain;
    margin: 0;
    margin-bottom: 0;
    align-self: center;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.name {
   height: 20px;
   width: 100%;
   display: flex;
   justify-content: center;
   text-align: center;
}

.price {
    padding: 3px;
    display: flex;
    margin-left: 4px;
   justify-content: center;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    color: rgb(68, 68, 68)
}

.name-tag {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: rgb(91, 91, 91);
    width: 100%;
}

.add-btn {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 10px;
    width: 90%;
}

.sub-add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.input {
    width: 3rem;
    height: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}