.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 440px;
    background-color: #EEECDF;
    border-radius: 10px;;
}

.img-box {
    background-color: white;
    border-radius: 10px;
    margin: 7px 10px;
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 275px;
    object-fit: contain;
    margin: 0;
    margin-bottom: 0;
    align-self: center;
}

.name {
   height: 20px;
   width: 100%;
   display: flex;
   justify-content: center;
   text-align: center;
}

.price {
    padding: 3px;
    display: flex;
    margin-left: 4px;
}

.name-tag {
    margin: 0;
    text-align: center;
}

.add-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
}

.sub-add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.input {
    width: 3rem;
    height: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}