.background {
  display: flex;
  flex-direction: row;
  background-color: #151515;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  /* max-height: fit-content; */
}