.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  /* padding: 15px 20px; */
}

@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #1f2fe9, 0 0 82px #1f2fe9,
    0 0 92px #1f2fe9, 0 0 102px #1f2fe9, 0 0 200px #1f2fe9;
  font-size: 4rem;
  font-family: "Neonderthaw", cursive;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 20px #fff,     
        0 0 42px #1f2fe9,
        0 0 82px #1f2fe9,
        0 0 92px #1f2fe9,
        0 0 102px #1f2fe9,
        0 0 200px #1f2fe9;
    font-size: 4rem;
    font-family: 'Neonderthaw', cursive;
    margin: 0;
}